#about-container {
  position: relative;
  max-width: 100%;
  min-width: 530px;
  max-height: 70%;
  min-height: 50%;
  top: 200px;
}

h1 {
  position: absolute;
  display: inline-block;
  left: 13%;
  margin: 0;
  font-size: 60px;
}

.about-paragraph {
  position: absolute;
  top: 80px;
  left: 15%;
  max-width: 70%;
  min-width: 40%;
  margin: 0;
  font-size: 24px;
}
