@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

.header-socials-text {
  color: black;
  text-decoration: none;
  border-bottom: none;
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  min-width: 530px;
  max-height: 200px;
  min-height: 50px;
  background-color: #faf9f6;
  /* padding-top: 20px; */
}

.header-title {
  position: absolute;
  left: 5px;
  margin: 0;
  margin-right: clamp(20px, 50px, 30px);
  font-size: clamp(1rem, 4vw, 1.7rem);
  top: 8px;
  text-decoration: none;
  color: black;
}

#header-nav {
  position: absolute;
  display: flex;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin: 0;
  margin-right: clamp(20px, 50px, 30px);
  top: 8px;
}

.header-projects {
  left: clamp(30%, 46.5%, 60%);
  text-decoration: none;
  color: black;
}

.header-about {
  margin: 0;
  margin-left: 50px;
  margin-right: 100px;
  left: clamp(5px, 24%, 55%);
  text-decoration: none;
  color: black;
}

.header-contact {
  left: clamp(20%, 65%, 70%);
  text-decoration: none;
  color: black;
}

#header-socials {
  max-width: 11%;
  min-width: 35px;
  max-height: 50%;
  min-height: 10px;
  top: 15px;
  cursor: pointer;
}

#header-nav:hover {
  border-bottom: solid;
}

.header-github {
  position: absolute;
  right: clamp(10px, 12%, 110px);
}

.header-linkedin {
  position: absolute;
  right: clamp(5px, 10%, 60px);
}

.header-resume {
  position: absolute;
  right: clamp(10px, 10%, 10px);
}

.bg {
  position: relative;
  max-width: 100%;
  min-width: 650px;
  height: 100%;
  min-height: 83rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg::before {
  content: "";
  background-image: url(../images/background-image.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.header-socials-list {
  position: absolute;
  right: 10px;
  top: 50px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Bitter";
  color: black;
  opacity: 0;
  transition: all 0.2s;
}

@media screen and (min-width: 0) and (max-width: 1028px) {
  #header-socials {
    display: none;
  }

  .header-socials-list {
    opacity: 1;
  }
}

@media screen and (min-width: 0) and (max-width: 612px) {
  #header-nav {
    top: 13px;
    font-size: 22px;
  }

  .header-socials-menu {
    top: 15px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 0) and (max-width: 554px) {
  #header-nav {
    font-size: 20px;
  }

  .header-title {
    top: 15px;
    font-size: 16px;
  }
}

@media screen and (min-width: 0) and (max-width: 425px) {
  .header-container {
    min-width: 150px;
  }

  #header-nav {
    font-size: 14px;
    top: 16px;
    left: 20px;
  }

  .bg {
    min-width: 170px;
  }
}
